/* .playarea_row1 div
{
    padding: 10%;
}
.playarea_row2 div
{
    padding: 10%;
}
.playarea_row3 div
{
    padding: 10%;
} */

/* .first_box, .second_box, .fourth_box, .fifth_box
{
    border-right: 1px solid black;
    border-bottom: 2px solid black;
}
.third_box, .sixth_box
{
    border-bottom: 2px solid black;
}
.eighth_box, .ninth_box
{
    border-left: 1px solid black;
} */
.playarea{
    width: 300px;
    height: 300px;
    display:flex;
}
.box1,.box2,.box2,.box3,.box4,.box5,.box6,.box7,.box8,.box9
{
    height: 100px;
    width: 100px;
    border: 1px solid black;
}
.bt-0{
    border-top: 0;
}
.bl-0{
    border-left: 0;

}
.br-0
{
    border-right:0;
}
.bd-0
{
    border-bottom: 0;
}
.box:hover
{
    background-color:rgba(0, 174, 255, 0.089) ;
    
}
/*button section starts*/
.buttons
{
    /* margin: 15%; */
    height: 100px;
    width: 100px;
    font-size: 500%;
}
/*button section ends*/

